@tailwind base;
@tailwind components;
@tailwind utilities;
.ticker-wrapper {
  overflow: hidden;
  width: 100%;
}

.ticker-content {
  display: flex;
  width: max-content;
  animation: ticker 25s linear infinite;
}

@keyframes ticker {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}